<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>AdvanceDynamic04</display-name>

	<!-- <session-config> <session-timeout>1</session-timeout> </session-config> -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>in.co.rays.servlet.Hello</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql://localhost:3307/sunrays</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/Error.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/Error.jsp</location>
	</error-page>
</web-app>